<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Expenses Record</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="nav-wrapper">
        <h1 class="title"><a href="/">My Wallet</a></h1>
        <div class="list-wrapper">
          <ul class="nav-list">
            <li class="nav-items">資產</li>
            <li class="nav-items">年統計</li>
            <li class="nav-items">月統計</li>
            <li class="nav-items">日統計</li>
          </ul>
        </div>
        <div class="date-wrapper">
            <div class="year">年</div>
            <div class="month-date">月日</div>
        </div>
        <div class="btn-panel">
          <a href="/expenses/add" class="btn-create btn-common">+</a>
        </div>
      </div>
    </div>
  </header>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
  <script src="/javascripts/main.js"></script>
</body>

</html>