<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Happy Shopping</title>
</head>

<body>
  <nav>
    <div class="container">
      <p>報表...blablabla還沒決定</p>
      <div id="assets" class="assets">資產</div>
      <div id="annual-report" class="annual-report">年報表</div>
      <div id="month-report" class="month-report">月報表</div>
      <div id="date-report" class="date-report">日報表</div>
    </div>
  </nav>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
</body>

</html>