<div class="container">
  <div class="main-wrapper">
    <form action="/expenses/add" method="POST" id="form">
      <div class="input-wrapper">
        <label for="input-date">日期</label>
        <input type="date" class="input-date" id='input-date' name="time">
        <select class="input-in-or-out" id="input-in-or-out" name="inOrOut">
          <option value="支出">支出</option>
          <option value="收入">收入</option>
        </select>
        <label for="input-method">資產</label>
        <select class="input-method" id="input-method" name="method" value="現金">
          <option value="現金">現金</option>
          <option value="信用卡">信用卡</option>
          <option value="帳戶轉帳">帳戶轉帳</option>
        </select>
        <label for="input-category">類別</label>
        <input class="input-category" id="input-category" list="options-category" name="category">
        <datalist id="options-category">
          <option>選擇一項類別，或自行輸入</option>
          <option>食物</option>
          <option>社交</option>
          <option>個人發展</option>
          <option>交通</option>
          <option>文化</option>
          <option>家居</option>
          <option>服飾</option>
          <option>美容</option>
          <option>健康</option>
          <option>教育</option>
          <option>禮物</option>
          <option>其他</option>
        </datalist>
        <label for="input-item-name">內容</label>
        <input type="text" class="input-item-name" id="input-item-name" name="itemName">
        <label for="input-cost">花費</label>
        <input type="number" class="input-cost" id="input-cost" name="cost" inputmode="numeric">
        <label for="remark-textarea" class="input-remark">備註</label>
        <textarea name="remark" id="input-remark-area" cols="30" rows="10"></textarea>
        <button class="btn-submit btn-common" type="submit">儲存</button>
      </div>
    </form>
  </div>
</div>

<script src="/javascripts/add.js"></script>