<main>
  <div class="container">
    <div class="main-wrapper">
      <div id="login-panel" class="login-panel">
        <h1 calss="login-title">登入</h1>
        <form action="/login" method="POST" id="login-form">
          <label for="email" class="email-label">信箱</label>
          <input type="text" id="email" name="email" placeholder="example@example.com">
          <label for="password" class="password-label">密碼</label>
          <input type="text" id="password" name="password">
          <button class="login-btn">登入</button>
        </form>
      </div>
    </div>
  </div>
</main>