<div class="container">
  <div class="main-wrapper">
    <div class="fail-wrapper">
      <div class="login-fail">註冊成功</div>
      <div class="login-fail">請返回輸入信箱密碼登入</div>
      <a href="/" class="btn-back">返回</a>
    </div>
  </div>
</div>